/* Libre Franklin
font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

@font-face {
    font-family: 'chronicle_black';
    src: url('chronicle_display_black-webfont.woff2') format('woff2'),
    url('chronicle_display_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chronicle_italic';
    src: url('chronicle_display_light_italic-webfont.woff2') format('woff2'),
    url('chronicle_display_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chronicle_roman';
    src: url('chronicle_display_roman-webfont.woff2') format('woff2'),
    url('chronicle_display_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chronicle_semibold';
    src: url('chronicle_display_semibold-webfont.woff2') format('woff2'),
    url('chronicle_display_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.15);
    --off-black: #212121;
    --red: #C82F31;
    --white: #FFFFFF;
    --grey: #D8D8D8;
}

/* Utility Classes */

.black-btn {
    background-color: var(--off-black);
    color: #fff;
    transition: background-color 0.4s ease;
    font-family: 'chronicle_semibold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.8rem 3.75rem;
    border-radius: 5px;
    display: inline-block;
}

.black-btn:hover {
    background-color: var(--red);
    color: #fff;

}

.white-btn {
    background-color: var(--white);
    color: var(--off-black);
    transition: background-color 0.4s ease;
    font-family: 'chronicle_semibold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.8rem 3.75rem;
    border-radius: 5px;
    display: inline-block;
}

.sr-only {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

.inner-container {
    max-width: 1080px;
    margin: 0 auto;
}

section {
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Typography */

a {
    text-decoration: none;
    color: var(--off-black);
}

a:hover:not([class]) {
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    font-family: 'chronicle_semibold', sans-serif;
    color: var(--off-black);
}

/* Universal Styles */

body {
    color: var(--off-black);
    line-height: 1.5;
    font: 400 1rem 'Libre Franklin', sans-serif;
}

svg {
    width: 2.25rem;
    background-color: var(--white);
    color: var(--off-black);
}

svg.arrow {
    width: 0.8rem;
    visibility: hidden;
}

/* Mobile View*/
header {
    background: var(--white);
}

.main-menu {
    position: relative;
}

nav {
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
}

.show-nav {
    background: var(--white);
    visibility: visible;
    min-height: fit-content;
}

.main-menu > .flex-container {
    flex-direction: column;
}

.divider {
    width: 100%;
    border-top: 1px solid var(--off-black);
    border-bottom: 1px solid var(--off-black);
    margin: 1rem 0 2rem 0
}

.logo {
    padding: 0.5rem;
}

.main-menu ul li {
    margin: 1rem 0 1rem 0.5rem;
}

.main-menu .sub-menu li {
    padding-left: 1.5rem;
}

nav.flex-container {
    align-items: flex-start;
}

.search-icon,
.account-icon,
.cart-icon {
    margin: 0 1rem 2rem 1rem;
}

.search-icon svg,
.account-icon svg,
.cart-icon svg {
    display: block;
    margin: 0 auto;
}

.hero-banner {
    background: center / cover no-repeat url("../img/leddies.webp");
    height: max-content;
    padding: 8rem 0;
    /*margin-bottom: 3rem;*/
}

.black-veil {
    background-color: #000000;
    color: var(--white);
    height: max-content;
}

.black-veil h3 {
    color: var(--white);
    font-size: 2.25rem;
    font-weight: 600;
    text-align: left;
    padding: 1rem 2rem 1rem 1rem;
    line-height: 1.25;
}

.black-veil p {
    padding: 1rem;
    line-height: 2;
    /*margin-bottom: 2rem;*/
}

.black-veil a {
    margin: 1rem 0 3rem 1rem;
}


/* Second Section : layers*/
.layers {
    margin: 2rem 1rem 6rem 1rem;
    display: flex;
    flex-flow: wrap column;

}

.layered-swatches {
    position: relative;
    height: 28rem;
    margin: 3rem 0 5rem 0;
}

.swatch {
    border: 2px solid var(--off-black);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 16rem;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: all 0.5s ease;
}

.swatch img,
.swatch label {
    border-radius: 5px;
}

.swatch > h4 {
    font: 1rem 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;

}

.swatch > p {
    font: 1.5rem 'chronicle_semibold', sans-serif;
    white-space: nowrap;
}

.swatch:hover {
    transform: scale(1.1);
    z-index: 1;
}

.swatch:nth-child(2) {
    left: 10%;
}

.swatch:nth-child(3) {
    left: 20%;
}

.layered-swatches .label {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
}

.content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p {
    margin: 1.25rem 0;
    line-height: 1.5;
}

/*Section Three: Tartan Finder*/
.tartan-finder {
    background: #111111;
    color: var(--white);
    flex-direction: column;
}

.tartan-finder h3 {
    font-size: 2.25rem;
    color: var(--white);
    margin: 3rem 0 1.5rem 1rem;
}

.tartan-finder p {
    margin: 0 1rem 2rem 1rem;
    line-height: 1.5;
}

.tartan-finder a {
    margin: 1rem 0 4rem 1rem;
}

.tartan-finder img {
    order: -1;
}

/* Section Four: Price packs*/
.price-packs .content h3 {
    margin: 3rem 0 1rem 0;
    text-align: center;
}

.price-packs .content p {
    margin: 0 1rem 2rem 1rem;
    line-height: 1.5;
}

.cards {
    margin: 2rem 1rem;
}

.card-body {
    border: 2px solid var(--grey);
    box-shadow: var(--box-shadow);

    margin: 2rem auto;
    text-align: center;
}

.card-body h4 {
    background-color: #212121;
    color: var(--white);
    line-height: 2;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.card-body > p:first-of-type {
    font: 2rem 'chronicle_semibold', sans-serif;
    font-weight: 700;
    padding: 1rem;
}

.card-body ul > li {
    padding: 0.5rem;
}

.card-body > p:last-of-type {
    padding: 1rem 0 2rem 0;
}

.card-body a {
    margin: 1rem 0 3rem 1rem;
}

.card-body .comment {
    text-align: left;
    padding: 1rem;
    line-height: 1.5;
    border-top: 2px solid var(--grey);
}

.pick-tag {
    position: relative;
}

.pick-tag p {
    position: absolute;
    top: -1rem;
    right: 0;
    background-color: var(--red);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 15px;

}

/* Footer*/
footer {
    background-color: #111111;
    color: var(--white);
    padding-bottom: 4rem;
}

.disclaimer {
    padding: 1rem;
    text-align: center;
}

.disclaimer h3 {
    font-size: 2rem;
    color: var(--white);
    margin: 1rem;
}

.disclaimer p {
    padding-bottom: 2rem;
}

hr {
    border: 1px solid var(--grey);
    margin: 0 1rem 3rem 1rem;
}

.contact-info h4,
.contact-info a,
.contact-info p,
.contact-info address,
.links h4,
.links a {
    color: var(--white);
    margin-bottom: 1rem;
}

.contact-info a {
    display: block;
}

footer h4 {
    font-family: 'libre_franklin', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 4rem;
}

footer > div:last-of-type {
    margin-left: 1rem;
}

/* Media Query*/

/* Medium View*/
@media screen and (min-width: 768px) {
    h1 {
        padding-left: 2rem;
    }

    .toggle {
        padding-right: 2rem;
    }

    .layered-swatches {
        margin-left: 3rem;
        height: 38rem;
    }

    .black-veil {
        padding: 2rem 8rem;
    }

    .swatch:nth-child(2) {
        left: 25%;
        top: 15%;
    }

    .swatch:nth-child(3) {
        left: 50%;
        top: 30%
    }

    .layers .content {
        margin: 1.5rem auto;
        width: 70%;
        max-width: 30rem;
        line-height: 1.5;
    }

    .layers .content a {
        margin-top: 1rem;
    }

    .tartan-finder div {
        padding: 1rem 0.5rem 0 1rem;
    }

    .tartan-finder img,
    .tartan-finder div {
        order: unset;
    }

    .tartan-finder > img {
        width: 40%;
        height: 30em;
    }

    .tartan-finder.flex-container {
        flex-flow: nowrap row;
        justify-content: space-between;
    }

    .price-packs {
        margin: 0 auto;
        width: 70%;
        max-width: 34rem;
    }

    footer .disclaimer {
        width: 65%;
        margin: 2rem auto;
        padding-top: 3rem;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .links > div {
        width: calc(100% / 2);
    }

    footer > div:last-of-type {
        margin-left: 2.5rem;
    }

    hr {
        margin: 0 2.5rem;
    }
}

/* Larger View*/
@media screen and (min-width: 1080px) {
    nav {
        position: unset;
        white-space: nowrap;
    }

    .divider {
        border-top: unset;
        border-bottom: unset;
        margin: unset;
    }

    .logo {
        white-space: nowrap;
        text-align: center;
        padding: unset;
    }

    .toggle {
        display: none;
    }

    .wide-flex {
        display: flex;
        justify-content: space-around;
    }

    nav,
    svg.arrow {
        visibility: visible;
    }

    .main-menu > .flex-container {
        flex-direction: row;
        justify-content: space-around;
    }

    nav.flex-container {
        flex-direction: row;
        justify-content: flex-end;
    }

    .sub-menu {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: -0.8rem;
        background-color: var(--white);
        flex-direction: column;
        /*padding-left: 0.5rem;*/
        white-space: nowrap;
        display: block;
    }

    .divider .sub-menu > li {
        text-align: left;
        padding-left: unset;
        margin: 1rem;
    }

    .divider ul > li:first-of-type:hover .sub-menu {
        visibility: visible;
        position: absolute;
        /*border: 2px solid black;*/
    }

    .divider ul {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        flex: 1 0 auto;

    }

    .divider ul li {
        text-align: center;
    }

    .divider ul li:first-of-type {
        position: relative;
    }

    .icon div {
        margin: 1.5rem;
    }

    .main-menu {
        flex: 1 0 auto;
    }

    section {
        max-width: unset;
    }

    .hero-banner {
        background: top / cover no-repeat url("../img/leddies-desktop.webp");
        height: 50vh;
    }

    .black-veil {
        background-color: unset;
        width: 60%;
        padding-left: 3rem;
    }

    .black-veil a {
        background-color: #111111;
        color: var(--white);
    }

    .layers {
        flex-direction: row;
        margin: unset;
    }

    .layers .layered-swatches,
    .layers .content {
        width: calc(100% / 2 - 10rem);
    }

    .layers .content {
        margin: 8rem auto;
    }

    .tartan-finder img,
    .tartan-finder div {
        width: 50%;
    }

    .price-packs {
        width: 90%;
        max-width: 80rem;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
    }

    .price-packs .content {
        width: 70%;
        margin: 5rem auto;
    }

    .cards {
        display: flex;
        column-gap: 1rem;
        margin: 2rem auto;
    }

    .cards .card-body {
        width: 30%;
        margin: 0 auto;
    }

    .cards .card-body:first-of-type a {
        margin-top: 12rem;
    }

    .card-body:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    footer .disclaimer {
        width: 50%;
        max-width: 33rem;
    }

    footer > div:nth-of-type(2) {
        display: flex;
        column-gap: 10rem;
    }

    .links {
        column-gap: 3rem;
        flex-wrap: nowrap;
    }

    .links div {
        width: 25%;
    }
}