/* page index */
body {
  font-family: "Inter", sans-serif;
  color: #000000;
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h2 {
  font-size: 1.85rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h3 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
p {
  font-size: 0.9rem;
  margin: 0.5rem auto;
  padding: 0 1rem;
}
.black-section {
  background-color: #000000;
  color: #ededed;
}
.black-section a {
  color: #ededed;
}
.gray-section {
  background-color: #ededed;
  padding: 2rem 0;
}
.btn {
  background-color: #000000;
  color: #ededed;
  padding: 0 0.75rem;
  display: inline-flex;
  height: 56px;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  margin: 0.5rem auto;
}
.bold {
  font-weight: 700;
  font-size: 1rem;
}
.star:not(.no-bold) {
  font-size: 2rem;
  font-weight: 700;
}
.no-bold {
  font-size: 2rem;
}
footer {
  background-color: #000000;
}

header nav {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  padding: 0;
  align-items: center;
}
header nav img {
  margin: 2rem auto;
  width: 100%;
  display: block;
  padding: 2rem 3rem 0 3rem;
}
nav ul li {
  margin-bottom: 1rem;
}

.gray-section p a {
  margin-bottom: 1rem;
}
.gray-section img {
  margin: 0 auto;
  padding: 0.1rem 2rem;
}
.home-middle {
  margin: 2rem 0;
}
/* position adjustment for the last star, unset the value in other view */
section:last-of-type .star {
  margin-top: 2rem;
}
.flex-container-col {
  display: flex;
  flex-flow: column nowrap;
}

.motto {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
}
.motto p:first-of-type {
  margin-top: 2.5rem;
}
.motto p:last-of-type {
  color: #a4a4a4;
}
.gray-section:last-of-type {
  padding: 1.5rem;
}
.subscription {
  background-color: #ffffff;
  padding: 3rem 1.25rem;
  text-align: center;
}
footer .black-section {
  padding: 2rem;
}
footer img {
  width: 90%;
  margin: 0 auto;
}
footer p {
  font-size: 0.7rem;
  width: 90%;
  margin: 1rem auto;
  text-align: left;
  padding: 0;
}
footer nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: flex-start;
  font-size: 0.7rem;
}
.footer-links li {
  text-align: left;
}
/* .max-contrain {
  max-width: 80rem;
} */

/* medium view */
@media screen and (min-width: 700px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .gray-section:first-of-type div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .home-middle {
    padding: 0 2rem;
  }
  .home-middle p:last-of-type {
    margin: 2rem auto;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .flex-container section {
    width: calc(100% / 2);
    text-align: left;
  }
  .flex-container p {
    padding: 0;
  }
  section:last-of-type .star {
    margin-top: 0.5rem;
  }
  .padding-adjustment {
    padding: 1rem 3rem;
  }
  .flex-container-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  .flex-container-col div {
    width: calc(100% / 2);
    text-align: left;
    padding: 0 1rem;
  }
  .flex-container-col img {
    margin: 0;
    width: calc(100% / 2);
  }
  .flex-container-col > .flex-order {
    order: -2;
  }
  .home-bottom .star {
    padding-left: 0;
  }
  footer .black-section {
    display: flex;
    flex-flow: row wrap;
    column-gap: 6rem;
    padding: 2rem;
  }

  footer .black-section div {
    width: calc(100% / 2 - 6rem);
    align-items: flex-start;
  }
  footer .black-section nav {
    width: calc(100% / 2);
  }
}

/* large view */
@media screen and (min-width: 1100px) {
  .gray-section img {
    width: 100%;
  }
  .middle-wrapper {
    max-width: 67rem;
    margin: 0 auto;
  }
  .flex-container section {
    width: calc(100% / 3);
  }
  .flex-container-col div {
    width: unset;
    padding: unset;
  }
  .flex-container-col img {
    margin: unset;
    width: unset;
    padding: 0;
    width: 100%;
  }

  .bottom-wrapper {
    display: flex;
    flex-flow: row wrap;
    /* column-gap: 2rem; */
    padding: 0 3rem;
  }
  .bottom-wrapper section {
    width: calc(100% / 2 - 2rem);
  }
  .flex-container-col div {
    order: -1;
  }
  .flex-container-col div p:last-of-type {
    width: 70%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .motto h3 {
    width: 50%;
    margin: 0 auto;
  }
  .subscription {
    width: 50%;
    margin: 0 auto;
  }
}

/*gallery mobile */
.gallery {
  background-color: #ededed;
}
.gallery h2 {
  font-size: 1.85rem;
  margin: 0 auto;
  color: #000000;
  padding: 3rem 2rem 1rem 2rem;
}
.gallery p {
  font-size: 1.7rem;
  color: #000;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 2rem;
}

/* .gallery img {
  display: inline-block;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
} */
.gallery figure {
  padding: 2rem 2rem 0 2rem;
}
.gallery figcaption {
  text-align: left;
  font-size: 0.95rem;
}
.gallery figure img {
  padding: 0;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}
.gallery > .black-section figure:nth-child(1) {
  padding-top: 2rem;
}
.small-text {
  padding-bottom: 2rem;
}
.small-text p {
  font-size: 0.85rem;
  padding: 0.5rem 2rem;
}
.gallery-mid-text {
  background-color: white;
  padding: 2rem 0;
}
.gallery-mid-text p {
  width: 100%;
  text-align: center;
}
.gallery .black-section p {
  color: #ededed;
}
.gallery figure:last-child {
  padding-top: 0;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

/* gallery medium */
@media screen and (min-width: 700px) {
  .bottom-flex {
    display: flex;
  }
  .bottom-flex > .flex-container {
    width: 50%;
  }
  .gallery .flex-container {
    justify-content: space-between;
  }
  .gallery .flex-container figure,
  .gallery .flex-container p {
    width: calc(100% / 2);
  }
  .gallery .black-section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .gallery .bottom-flex > .flex-container > * {
    width: 100%;
  }
  .bottom-flex > .flex-container.second-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* third page */
.third .content {
  height: 100vh;
  margin: auto;
  width: 80%;
}
.third .content h2 {
  font-size: 1.25rem;
  color: rgb(190, 242, 173);
  margin: 0 auto;
  text-shadow: 2px 2px 3px #000000;
}
.third .content p {
  font-size: 1rem;
  color: rgb(190, 242, 173);
  margin: 0 auto;
  text-shadow: 2px 2px 3px #000000;
}
.third .content p a {
  color: rgb(190, 242, 173);
  text-decoration: underline;
}

.third .container {
  height: 0;
  padding-bottom: 66.6%;
  background: center / cover no-repeat url(../img/art-building.webp);
}
