:root {
    /** colours need to be replaced with correct ones**/
    --yellow: #FED766;
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green: #43C6AC;
    --md-blue: #191654;
    --dk-blue: #0C0B2A;
    --blue-grey: #6178A6;
    --black: #000000;
    --white: #FFFFFF;
    --light-gray: #D9D9D9;
    --dark-gray: #413F3F;
    --red: #FF0606;

    /** typography need to be replaced with correct ones **/
    --headings: 'Inria Sans', sans-serif;
    --body: 'Inter', sans-serif;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}

/* universal */
ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

fieldset {
    border: none;
}


/* utility */
.inner-container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* typography */
h1 {
    font-family: 'Inria Serif', sans-serif;
    font-weight: bold;
    font-size: 8rem;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
    font-family: var(--headings), sans-serif;
}

p {
    font-family: var(--body), sans-serif;
    font-size: 1.5rem;
}

ul li {
    font-family: var(--body), sans-serif;
    font-size: 1.25rem;
}

/* mobile view*/
.top-header {
    background-color: var(--black);
}

.top-header ul.flex-container {
    margin: unset;
    padding: 2.25rem 0;
}

.top-header ul li a {
    color: var(--white);
    text-transform: uppercase;
}

.top-header ul li:first-of-type {
    font-weight: bold;
}

.top-header ul li:nth-child(2) {
    font-weight: lighter;
    font-style: italic;
}

.bottom-header {
    background-color: var(--white);
}

.bottom-header svg {
    width: 5rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* popup window*/
.popup {
    background-color: var(--white);
    position: absolute;
    min-width: 28rem;
    padding: 2rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 100;
    display: none;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-family: var(--body), sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    color: var(--black);
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2 {
    font-family: var(--body), sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.popup h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.popup p {
    font-size: 2rem;
    margin: 1rem 0;
}

.popup form input {
    border: none;
    border-bottom: 1px solid var(--black);
    display: block;
    width: 100%;
    margin: 2rem 0;
    font-family: var(--body), sans-serif;
    font-size: 1.5rem;
    outline: none;
}

.validation {
    display: none;
    font-family: var(--body), sans-serif;
    font-size: 1.5rem;
    color: var(--red);
    white-space: nowrap;
}

.popup form input[type="email"]:invalid {
    border: 2px solid var(--red);
}

.popup form input[type="email"]:invalid + .validation {
    display: block;
}

.popup form input[type="submit"] {
    background-color: var(--blue-grey);
    color: var(--white);
    border: none;
    border-radius: 5px;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
}

.popup-content p {
    font-size: 1.5rem;
}

.popup-policy ul {
    display: flex;
    justify-content: space-between;
    padding: unset;
    text-decoration: underline;
}

.popup-policy ul li {
    font-size: 1.5rem;
}

/* hero banner*/
.hero-banner {
    background: url("../img/fashon-banner.webp") no-repeat center/cover;
    height: 100%;
    padding-top: 50%;
    position: relative;
    margin-bottom: 30rem;
    /*z-index: 100;*/
}

.gray-veil {
    background: rgba(168, 168, 168, 1);
    width: 100%;
    position: absolute;
    top: 100%;
    padding-bottom: 1rem;
}

.hero-banner .inner-container.wide-flex {
    padding: unset;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
}

.hero-banner h2 {
    color: var(--white);
    font-size: 12.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.hero-banner h3 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
    white-space: wrap;
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
}

/* slides */
.slides h3 {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.scroll-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    overflow-x: scroll;
}

.card {
    border-radius: 0.2rem;
    flex: 0 0 12rem;
    margin: 1rem;
}

.card p {
    font-size: 1rem;
    margin: 1rem 0;
}

/* smile */
.smile {
    margin-bottom: 1rem;
}

.smile h3 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.smile .inner-container {
    padding: unset;
}

.smile .wide-flex {
    height: 50vh;
}

.smile img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

/* shop-division*/
.shop-division h3 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0;
}

.shop-division h3:not(.center) {
    text-align: left;
    white-space: wrap;
    width: 50%;
}

.division-box ul li {
    background-color: var(--dark-gray);
    margin: 1.5rem;
    padding: 1rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 900;
}

.division-box span {
    display: block;
}

/* footer */
footer {
    margin-top: 2rem;
}

footer h4 {
    font-family: var(--body), sans-serif;
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 900;
    text-align: center;
}

footer section {
    margin: 3rem 0;
}

footer ul {
    margin: unset;
    padding: unset;
}

footer ul li {
    text-align: center;
}

footer ul li a {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.bottom-footer {
    background-color: var(--black);
}

.bottom-footer p {
    font-size: 0.75rem;
    color: var(--white);
    text-align: center;
    padding: 1rem;
}