/* Colour Palette

Red    #e24c3b
White  #fbf3ef
Blue   #0088e0

*/
/* Universal Styles & Typography */
body {
  font-family: "Oswald", sans-serif;
  background: center / cover no-repeat url("../img/pole-closeup-mobile.webp");
  text-align: center;
  color: white;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  font-family: "Arvo", serif;
}

/* navigation */
nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li:not(.logo) {
  font-size: 1.5rem;
}
nav ul li {
  padding: 1rem;
}
/* This is a style that we only want in the mobile view.
   It's easier to use a max-width condition here than
   to unset everything down below. */
@media screen and (max-width: 925px) {
  nav {
    background-color: #fbf3ef;
  }
  nav ul li:nth-child(3),
  nav ul li:nth-child(5) {
    background-color: #e24c3b;
  }
  nav ul li:nth-child(2) {
    background-color: #0088e0;
  }
}

  nav ul li a {
    color: #222;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .logo {
    order: -1;
  }
  .logo h2 {
    padding: 0;
  }
  svg {
    width: 5rem;
  }
  svg path {
    fill: #222;
  }

  /* Main Layout */
  main > h2 {
    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 2px 2px #222;
    letter-spacing: 0.1rem;
    padding: 3rem 0;
  }
  section {
    margin: 0 auto;
  }
  section img {
    max-width: 4.5rem;
    margin: 1rem auto;
  }
  .inner-container {
    padding: 0 1rem;
  }
  .col {
    background-color: #333;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(255, 255, 255, 0.5);
    padding: 2rem;
    margin: 1rem auto;
  }
  .col p a {
    background-color: #e24c3b;
    color: #fbf3ef;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
  }
  .col p a:hover {
    text-decoration: underline;
  }

/* Let's get into our wider layout. */
@media screen and (min-width: 925px) {
  body {
    background: center / cover no-repeat url("../img/pole-closeup.webp");
  }
  nav {
    background-color: black;
  }
  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  nav ul li {
    flex: 1 1 25%;
  }
  nav ul li a {
    color: #fbf3ef;
  }

  .logo {
    order: 0;
    flex: 1 0 50%;
  }

  /* This grabs every element inside of the barber pole and fills it with the off-white colour. */
  .logo a svg * {
    fill: #fbf3ef;
  }

  svg {
    margin: 0;
  }

  main {
    /* This is the total viewport height minus the height of the navigation in the desktop layout. */
    min-height: calc(100vh - 8.875rem);
  }
  .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Let's have two cards per row maximum. */
  .col {
    margin: 1rem;
    max-width: calc(100% / 2 - 2rem);
  }

   /* These columns have a little more copy than the others, so let's give them a little more room on their rows. */
  .grow {
    flex: 1 0 65%;
  }
   /* And, conversely, we'll make the others squish a little more. */
  .shrink {
    flex: 0 1 35%;
  }
   /* Note: See how the flex-basis property (the last value in the flex shorthand property) overrides the max-width property? */
}

/* Finally, let's restrict our overall widths. */
@media screen and (min-width: 1280px) {
  nav ul {
    max-width: 1280px;
    margin: auto;
  }
  .inner-container {
    max-width: 1280px;
    margin: auto;
  }
}
